/* JobModify.css */

.modi-container {
    max-width: 90%;
    overflow-x: auto;
  }
  
  .table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    
  }
  
  .table th{
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
  
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
  }
  
  .table tbody + tbody {
    border-top: 2px solid #dee2e6;
  }
  
  .table-sm th,
  .table-sm td {
    padding: 0.3rem;
  }

  .btn {
    font-size: 14px;
  }
  
  /* Add any additional styles based on your design requirements */
  