.About-main-div {
  background-color: rgb(242, 246, 255);
}
.border-bottom {
  border-top-width: 1px; /* You can adjust the width as needed */
  border-top-style: solid; /* You can use other styles like dashed, dotted, etc. */
  border-top-color: rgb(205, 206, 207);
}
.image-about {
  margin-top: 10px;
  width: 560px;
  margin-left: 100px;
  border: 20%;
}
.Main-Topic {
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 2cap;
  padding-bottom: 3px;
}

.Main-Topic-2 {
  font-family: Arial, sans-serif;
  text-align: start;
  margin-top: 10px;
  margin-left: 0;
}

.paragraph-top {
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.paragraph-2 {
  align-items: center;
  font-size: medium;
  justify-content: center;
  font-size: 20px;
}
.btn-started {
  background-color: rgb(240, 55, 55);
  color: white;
  border: none;
  padding: 15px;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  padding-top: 10px;
}

/* body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
} */

.container1 {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  font-size: medium;
}

.main-title {
  color: #000000;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 2cap;
  padding-bottom: 3px;
}

.section-title {
  color: #000000;
  margin-top: 20px;
  text-align: center;
}

.paragraph {
  margin-bottom: 15px;
  color: black;
  font-size: large;
  display: inline-block; /* Set display to inline-block */
}

@media(max-width:768px) {
  .image-about{
    display: block;
    margin: 0 auto; /* Center the image */
    margin-right: 100px;
  
  }

  .Main-Topic-2{
    text-align:center ;
    margin-top: 20px;
    margin-left:20px ;
  }
  .paragraph-2 {
    text-align: center;
  }
  .btn-started {
    display: block;
    margin: 0 auto; /* Center the button */
  }
}


@media (min-width: 768px) and (max-width: 991px) {
  /* Styles specific to MD */
  .Main-Topic {
    text-align:center ;
    margin-top: 20px;
    margin-left:20px ;
  }

  .image-about {
    display: block;
    width: 100%; /* Take full width */
    margin: 0 auto; /* Center the image */
  }
  .Main-Topic-2{
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
  }
  .paragraph-2{
    text-align: center;
  }

  /* Add more styles as needed for MD */
}

/* Large (LG) - 992px to 1199px */
@media (min-width: 992px) and (max-width: 1199px) {
  /* Styles specific to LG */
  .Main-Topic {
    /* Adjust styles for Main-Topic in LG */
  }

  .image-about {
    /* Adjust styles for image-about in LG */
  }

  /* Add more styles as needed for LG */
}

/* Extra Large (XL) - 1200px and above */
@media (min-width: 1200px) {
  /* Styles specific to XL */
  .Main-Topic {
    /* Adjust styles for Main-Topic in XL */
  }

  .image-about {
    /* Adjust styles for image-about in XL */
  }

  /* Add more styles as needed for XL */
}