.outer-home-div{
    background-color: #ffffff;
    height: 600px;
}
.active-jobs{
    position: absolute;
    top: 55%; /* Adjust the top position to center vertically */
    left: 51.3%;
    transform: translate(-50%, -50%); /* Center both horizontally and vertically */
    /* color: #e0dddd; */
    color: rgb(12,17,54);
    font-size: 2.5rem;
    font-weight: 500;
    opacity: 70%;
}

.active-jobs {
    font-size: 3rem; /* Default font size for larger screens */
  
    @media (max-width: 1200px) {
      font-size: 2.0rem; /* Adjust font size for screens up to 1200px */
    }
  
    @media (max-width: 992px) {
      text-align: center;
        font-size: 2rem; /* Adjust font size for screens up to 992px */
    }
  
    @media (max-width: 768px) {
      font-size: 1.5rem; /* Adjust font size for screens up to 768px */
      text-align: center;
    }
  
    /* Add more media queries as needed for smaller screens */
  }
  

